<%= form_for [@post, @post.paintings.build] do |f| %>

  <div class="form-inputs">
    <%= f.hidden_field :post_id, :as => :hidden %>
    <%= f.label :image, "Upload paintings:" %>
    <br>
    <%= f.file_field :image, multiple: true, name: "painting[image]" %>
  </div>
<% end %>
