<div class = "<%= "painting#{painting.id}" %>">
  <%= image_tag(painting.image_url(:thumb)) %>
  <div><%= link_to "Delete", [@post, painting] , method: :delete, :remote => true, :class => "remove" %></div>
</div>
