*{
  margin: 0;
  padding: 0;
}
html{
  height: 100%;
}
#page_bg{
  overflow: hidden;
  padding-bottom: 50px;
}
a{
  //background: none !important;
  &:hover:visited{ background: none !important; }
}
body{
  background: #eeeeee !important;
  position: relative !important;
  min-height: 100% !important;
}
.wrap{
  width: 940px;
  margin: 0 auto;
}
.header{
  height: 119px;
}

.sitename {
  margin-top: 40px;
  a {
  color: #E87830;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 3em;
  &:visited { color: #E87830 !important; }
  &:hover { color: #CC0000 !important; }

  }
}
.slogan{
  margin-top: 5px;
  margin-left:120px;
  font-weight: bold;
}
.container{
  width: 626px;
  float: left;
  h1{
    font-size: 30px;
    font-family: Arial, sans-serif;
    margin-bottom: 10px;
    line-height: 30px;
  }
}
.sidebar{
  width: 264px;
  float: right;
}
.teaser_title{
  font-size: 18px;
  font-weight: 400;
  font-color: #2A2A2A;
  line-height: 54px;
  a:visited{
    color: #000000;
  }
  a:hover{
    color: #CC0000;
  }
  & .edit-post {
    margin-left: 20px;
    font-size:14px;
  }
}
.teaser_about{
  color: gray;
  a{
    color: gray;
  }
}
.teaser_date{
  float: left;
  line-height: 20px
}
.teaser_tags{
  margin-left: 90px;
  li{
    display: inline;
    list-style: none;
    margin-right: 5px;
  &::after {
    content: ",";
    margin-left: 3px;
  }
  &:last-child::after {
    content: "";
  }

  }
  a:hover{
    color: #CC0000;
  }
}
.clear{
  clear: both;
}
.footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50px;
  margin-top: 20px;
  background: #333333;
  color: #E5E5E5;
  text-align: center;
  line-height: 50px;
}

.pagination{
  .page{
    border:0; margin:0; padding:0;
    font-size:11px;
  }
  a{
    border: solid 1px #DDDDDD;
    margin-right: 2px;
    &:link, &:visited{
      color: #666666;
      display: block;
      float:left;
      padding: 3px 15px;
      text-decoration: none;
    }
    &:hover{
      border: solid 1px #666666;
    }
  }
  .next a, .prev a{
    font-weight: bold;
    border: solid 1px #DDDDDD;
    &:hover{
      border: solid 1px #666666;
    }
  }
  .prev_disabled{
    display: block;
    float:left;
    padding: 3px 15px;
    color: grey;
    line-height: 18px;
    border: solid 1px #DDDDDD;
  }
  .next_disabled{
    display: block;
    float:left;
    padding: 3px 15px;
    color: grey;
    line-height: 18px;
    border: solid 1px #DDDDDD;
  }
  .current{
    color: #CC0000;
    font-weight: bold;
    display: block;
    float: left;
    padding: 4px 6px;
  }
}

.under_content{
  margin-left: auto;
  margin-right: auto;
  display: table;
  padding-bottom: 50px;
  clear: both;
}

.sidebar_category{
  font-size: 18px;
  padding: 5px;
  margin-left: 10px;
  a{
    &:hover{
      color: #CC0000;
    }
  }
}

.recent_posts{
  margin-top: 20px;
  h2{
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 23px;
  }
  ul {
    margin-left: 12px;
  }
  li{
    list-style: none !important;
    padding: 8px;
    border-bottom: 1px solid #E0E0E0;
    box-shadow: 0 1px #FFFFFF;
  }
  a{
    &:hover{
      color: #CC0000;
    }
  }
}

.sitebar_search{
  margin-bottom: 20px;
  & input {
    height: 19px;
    width: 177px;
    font-size: 14px;
  }
}
.sitebar_categories{
  margin-top: 20px;
}

.comment_form{
  margin-top: 20px;
  *:focus {
    outline: none;
  }
  & input {
    font-size: 14px;
  }
  h2{
    margin-bottom: 10px;
    font-weight: 200;
    font-size: 23px;
    line-height: 1.1;
  }
  .name {
    margin-bottom: 10px;
  }
  #comment_name{
    width: 200px;
  }
  #comment_email{
    width: 200px;
  }
  .input{
    margin-bottom: 20px;
  }
  input[type='submit']{
    width: 170px;
    height: 30px;
  }
}

.comment {
  margin-bottom: 20px;
}
.comment .gravatar {
  float: left;
  margin-right: 10px;
}

.comments {
  margin-top: 20px;
  & h2 {
    font-weight: 200;
    font-size: 23px;
    margin-bottom: 10px;
    line-height: 1.1;
  }
  & .comment {
    margin-bottom: 25px;
    & .number {
      float:right;
      font-size: 15px;
      line-height: 1.4;
      & a {
        color: #adadad;
        background: none !important;
        &:hover {
          color: #cc0000 !important;
        }
      }
    }
    & .comment-text {
      clear: both;
      font-size: 15px;
      line-height: 1.4;
    }
    & .comment-author {
      font-size: 1.2em;
      color: #383838;
    }
    & .comment-date{
      font-size: 0.9em;
      color: #adadad;
    }
  }

}
.paintings img {
  width: 200px;
}

code, .highlight pre {
  border: 1px solid #dcdcdc;
  background: #f7f6f5;
  font-size: 17px;
  line-height: 21px;
  display:block;
  padding: 5px;
}

.highlight pre {
  font-size: 15px;
}

.highlight {
  margin-bottom: 10px;
}
.content-info {
  font-size: 14px;
  & .post-date {
    color: #adadad;
    font-size: 12px;
  }
  & .post-tags {
    & a {
      background: none;
      &:hover {
        color: #cc0000;
      }
    }
  }
}
.content {
  a {
    text-decoration: none;
    color: #547091 !important;
    &:hover {
      background: none;
      text-decoration: underline;
      color: #cc0000;
    }
  }
  ul {
    margin-left: 20px;
  }
  & p, ul {
    font-size: 15px;
    line-height: 1.4;
    color: #353535;
  }
  margin-top: 20px;
  & h2 {
    font-weight: 200;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #555;
  }
}
h1 {
  font-weight: 200;
  color: #555;
  font-size: 30px;
}

.markItUpEditor {
  background: white !important;
}

.login-form {
  & .email {
    margin-bottom: 5px;
    display: block;
  }
  & .password {
    display: block;
  }
}

.admin-links {
  font-size: 20px;
  & a{
    color: #cc0000 !important;
    text-decoration: none;
    &:hover {
      text-decoration: underline
    }
  }
  
}

.post-form {
  & .meta label {
    display: block;
  }
  & .meta textarea {
    font-size: 15px;
    width: 699px;
    height: 100px;
  }
}

.tag-cloud {
  list-style: none;
  & a {
    text-decoration: none;
    &:hover {
      color: #cc0000;
      text-decoration: underline;
    }

  }
  & h2 {
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 23px;
  }
  & li {
    display: inline-block;
    margin-right: 5px;
  }
  & .size-4 {
    font-size: 150%;
  }
  & .size-3 {
    font-size: 130%;
  }
  & .size-2 {
    font-size: 110%;
  }
  & .size-1 {
    font-size: 90%;
  }
}

.main-menu{
  margin-top: 20px;
  a {
    text-decoration: none;
    font-size: 130%;
    &:hover {
      text-decoration: underline;
      color: #cc0000;
    }
  }
  h2 {
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 23px;
  }
  ul {
    list-style: none;
    margin-left: 20px;
  }
}

.message_form {
  #message_name, #message_email, #message_subject, #message_content {
    font-size: 14px;
  }
  div {
    margin-bottom: 10px;
  }
  .feedback-submit input {
    font-size: 18px;
  }
}

.field_with_errors {
  background-color: transparent !important;
  label {
    margin-left: 10px;
  }
  #comment_name, #comment_email, #comment_content {
    border: 2px solid #cc0000;
  }
}

.page-content {
  ul {
    margin-left: 20px;
  }
  a {
    text-decoration: none;
    color: #547091 !important;
    &:hover {
      background: none;
      text-decoration: underline;
      color: #cc0000;
    }
  }
  h2 {
    font-weight: 200;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 5px;
    color: #555;
  }
  p, ul {
    font-size: 15px;
    line-height: 1.4;
    color: #353535;
  }
}
